<!-- Container for no repositories message -->
<div class="m-h-96 p-0 flex flex-grow items-center justify-center bg-gray-50">
  <!-- Card for displaying the message -->
  <div class="rounded-lg mt-8 bg-white p-8 text-center shadow-xl">
    <!-- Title of the message -->
    <h1 class="mb-4 text-4xl font-bold">Well, that's a bummer!</h1>
    <!-- Description of the message -->
    <p class="text-gray-600">
      It seems like the user doesn't have any repositories.
    </p>
    <!-- Link to navigate back to Home -->
    <a
      href="/"
      class="mt-4 inline-block rounded bg-sky-600 px-4 py-2 font-semibold text-white hover:bg-blue-600"
    >
      Back to Home
    </a>
  </div>
</div>
