<!-- Container for repository information -->
<div
  class="p-6 border rounded-none border-black-200 border-gray-950 rounded-lg shadow mb-8 mr-0"
>
  <!-- Link to the repository -->
  <a class="cursor-pointer">
    <!-- Repository name -->
    <h5 class="mb-2 text-2xl font-medium text-sky-600 line-clamp-2">
      {{ repo?.name }}
    </h5>
  </a>

  <!-- Repository description -->
  <p
    *ngIf="repo?.description"
    class="mb-3 font-normal text-black-700 dark:text-black-400"
  >
    {{ repo?.description }}
  </p>

  <!-- Repository topics -->
  <div
    *ngIf="repo?.topics && repo?.topics.length > 0"
    class="flex flex-wrap mb-3"
  >
    <!-- Displaying up to 5 topics -->
    <span
      *ngFor="let topic of repo?.topics.slice(0, 5)"
      class="cursor-pointer mr-2 mb-2 bg-sky-600 text-white py-1 px-2 rounded"
    >
      {{ topic }}
    </span>
  </div>
</div>
